*

!*.*
!*/

.idea/
autom4te.cache/
build-aux/
build/

configure

*.o
*.log
*.lo
*.trs
*.swp

# A whole bunch of trash files for compilation now gone from 'git status'
#    isn't that satisfying?
Makefile.in
aclocal.m4
authors.h
config.h
config.h.in
config.status
lib/misc/.deps/
lib/misc/.dirstamp
lib/misc/.libs/
lib/misc/libmisc.la
src/.deps/
src/.dirstamp
src/.libs/
src/ast/.deps/
src/ast/.dirstamp
src/astclone/.deps/
src/astclone/.dirstamp
src/bind/.deps/
src/bind/.dirstamp
src/desugar/.deps/
src/desugar/.dirstamp
src/escapes/.deps/
src/escapes/.dirstamp
src/libtc.la
src/llvmtranslate/.deps/
src/llvmtranslate/.dirstamp
src/llvmtranslate/runtime.cc
src/llvmtranslate/runtime.ll
src/object/.deps/
src/object/.dirstamp
src/parse/.deps/
src/parse/.dirstamp
src/parse/location.hh
src/parse/parsetiger.cc
src/parse/parsetiger.hh
src/parse/parsetiger.html
src/parse/parsetiger.output
src/parse/parsetiger.stamp
src/parse/parsetiger.xml
src/parse/prelude.cc
src/parse/scantiger.cc
src/parse/scantiger.hh
src/task/.deps/
src/task/.dirstamp
src/type/.deps/
src/type/.dirstamp
src/version.cc
src/version.stamp
tcsh/Makefile.in
tcsh/python/.deps/
tcsh/python/Makefile.in
tcsh/python/swig.mk
tests/Makefile.in
config.h.in~
files.sh
simple-for-loop.tig
src/callgraph/.deps/
src/callgraph/.dirstamp
src/combine/.deps/
src/combine/.dirstamp
src/inlining/.deps/
src/inlining/.dirstamp
src/overload/.deps/
src/overload/.dirstamp
src/parse/location.hh.bak
src/parse/parsetiger.hh.bak

